<template name="contact">
	<div id="contact_wrap">
		<div id="page-wrap">
			<p class="charles">Contact Dr. Charles B. Goodwin</p>
			<h2 class="contact_tag">We appreciate your interest in learning more about Dr. Charles Goodwin and his staff for your orthopedic care. We are dedicated to providing the highest-quality care with compassion and trust. We provide a comprehensive evaluation with prompt and efficient assessment and treatment.</h2>
			<div id="address">
				<div class="big_map"></div>
				<div class="directions">
					<h1>Charles B. Goodwin, MD</h1>
						<p>635 Madison Ave.</p>
						<p>New York, NY 10022</p>
				</div>
			</div>
			<div id="contact-area">
				<form id="contact_form">
					<div class="field_input">
						<label for="Name">Name:</label>
						<input type="text" name="Name" id="contact_name" />
					</div>
					<div class="field_input">	
						<label for="Email">Email:</label>
						<input type="text" name="Email" id="contact_email" />
					</div>
					<div style="clear: both;"></div>
					<div class="area_input">
						<label for="Message">Message:</label><br />
						<textarea name="Message" rows="7" cols="42" id="contact_message"></textarea>
					</div>
					<div style="clear: both;"></div>
						<input type="submit" name="submit" value="SUBMIT" class="submit-button" />
				</form>
			</div>
		</div>
	</div>
</template>